body {
	font-family:arial;
	font-size:12px;
	color:#333;
	margin:0;
	line-height:1.5em;
	text-shadow:0 1px 0 #fff;
}

h1 {
	margin-top:0;
}

small {
	color:#999;
}

#container {
	width:1000px;
	margin:auto;
}

#content {
	float:left;
	width:75%;
}

#sidebar {
	float:right;
	width:20%;
}

#top {
	border-bottom:1px solid #ccc;
	margin-bottom:20px;
	background-image: -moz-linear-gradient(center top , #FEFEFE, #F5F5F5);
}

#footer {
	position:absolute;
	bottom:0;
	left:50%;
	width:500px;
	margin-left:-250px;
	margin-bottom:10px;
	color:#999;
	text-align:center;
}

#menu {
	width:1000px;
	margin:auto;
	padding:10px 0;
}

#menu ul, #menu li {
	list-style:none;
	margin:0;
	padding:0 10px 0 0;
}

#menu li {
	display:inline;
	font-size:18px;
	font-weight:bold;
}

#menu li:hover {
	cursor:pointer;
	color:red;
}

#advertisement_small {
	border:1px solid #ccc;
	padding: 5px;
	background-color:#F9F9F9;
	cursor:pointer;
}

#advertisement_small p {
	margin-bottom:0;
}

#quote {
	margin-top:15px;
}

#quote em {
	margin-top:15px;
	color:#999;
}

hr {
	border:0;
	border-bottom:1px solid #ccc;
}